200916COVID19MEXICO.csv
200907COVID19MEXICO.csv
200830COVID19MEXICO.csv
200824COVID19MEXICO.csv

iniciosint_fechadec.csv
municipios_todos.txt

Rplot.png
.RData
.Rhistory

inicioSintomas_290720.pptx
inicioSintomas_300820.pptx
inicioSintomas_250820.pptx
inicioSintomas_160920.pptx
~$inicioSintomas_160920.pptx
inicioSintomas_070920.pptx